:root {
  --lightblue: rgb(73, 140, 160);
  --green: rgb(0, 86, 32);
  --darkblue: rgb(30, 62, 91)
}

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@font-face {
    font-family: "Latin Modern Math";
    src: url("latinmodernmath.otf");
}

body {
  font-family: 'Do Hyeon', sans-serif;
}

br {
  user-select: none;
}


.btn-primary {
   background-color: var(--darkblue);
   transition: 0.5s ease;

}

.btn-primary:hover {
  transition: 0.5s ease;
}


p, li {
  font-size: 14pt;
}


#output {
  border: 1px solid black;
  max-height: 1000px;
  max-width: 100%;
  min-width: 50%;
}


#header {
  background-image: url(img/header.png);
  color: white;;
}

#gallery-table {
  width: 100%;
}


.math-lg {
  margin-top: 40%;
  margin-bottom: 40%;
}

.katex .cursor {
    border-left: 1px solid black !important;
/*    width: 0 !important;*/
    margin-right: 0 !important;
    margin-left: -1px;
    min-height: 1ex;
    color: grey;
    height: 1em;
    margin-bottom: -0.25em;
/*    display: none;*/
}

.guppy_active .main_cursor {
    animation: blink-animation 1s steps(2,start) infinite;
    -webkit-animation: blink-animation 1s steps(2,start) infinite;
    border-left: 1px solid black !important;
    width: 0 !important;
    margin-right: 0 !important;
    margin-left: -1px;
    height: 1em !important;
    margin-bottom: -0.25em;
    display: inline-block;
}

